# files not to copy up to git

# object and description files
*.o 
*.d 
*.iso
*.kernel

# libraries
*.a 

# the linker output file
output.map

#project specific
*.kernel

#IDE
.vscode/

#stuff I'm not using yet
ignore/
